ul#primary-menu {
	@media screen and (min-width: $largetab) {
		display: flex;
	    justify-content: space-between;
	}
}
.dropdown::after {
	@media screen and (min-width: $largetab) {
		content: url(images/dropdown.png);
		width: 10px;
		height: 10px;
		position: absolute;
		right: -15px;
		top: 0;
	}
}
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	background-color: $color-blue;
	padding: 0;
	font-family: $font__main;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		

		ul {
			background-color: $color-blue;
			float: left;
			
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
				
			}

			li {
				text-align: center;

				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				
				width: auto;
				padding: 10px 10px;
				background-color: rgba(255,255,255,0);
				@include transition(all ease 0.3s);
			}

			:hover > a,
			.focus > a {
				background-color: rgba(255,255,255,.3);
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;
		font-size: 16px;
		width: 100%;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
		color: rgba(255,255,255,1);
		@include transition(all ease .3s);
		&:hover {
			color: rgba(255,255,255,.7);
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
	@media screen and (min-width: $tabwidth) {
		
		li {
			font-size: 22px;
			width: 100%;
			line-height: 60px;
		}
		ul {
			ul {
				border-top: 3px solid #000;
				margin: 5px auto 20px auto;
				ul {
					
				}
				li {
					font-size: 14px;
					line-height: 1.5;
				}
				a {
					

				}
			}
		}
		
	}
	@media screen and (min-width: $midwidth) {
		
		
		
		
	}

	@media screen and (min-width: $largetab) {
		
		li {
			font-size: 14px;
			width: auto;
		}
		
		ul {
			ul {
				position: absolute;
				// top: 1.5em;
				top: 60px;
				left: -999em;
				margin: 0 auto;
				
				ul {
					
				}
				li {
					text-align: left;
				}
				a {
					width: 250px;

				}
			}
		}
		
	}
	@media screen and (min-width: $deskwidth) {
		li {
			font-size: 17px;
			width: auto;
		}
		ul {
			ul {
				li {
					text-align: left;
				}
			}
		}
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
	
	
	border: 0;
    box-shadow:none;
    background:none;
    text-shadow:none;
    color: #fff;
    
}
.menu-toggle {
	width: auto;
	font-size: 22px;
	margin: 0 auto;
	border: 1px solid #fff;
	padding: 10px 20px;
	&:hover {
		box-shadow:none;
	}
	&.active {
		outline: none;
		box-shadow:none;
		background-color: rgba(255,255,255,.3);
	}
}
.main-navigation.toggled ul {
	width: 100%;
	@media screen and (min-width: $largetab) {
    	width: auto;
    }
}

@media screen and (min-width: $largetab) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
